table{
    border-collapse: collapse;
    width: 60vh;
}

td, th{
    border: 2px solid black;
    text-align: center;
    padding: 3px;
}

th{
    background-color: pink;
}

tr:nth-child(even) {
    background-color: purple
}   