body{
    width: 50;
    margin: auto;
}

h1{
    text-align: center;
}

h1#destinos_incriveis {
    color: rgb(44, 62, 80);
    background-color: rgb(236, 240, 241);
}
.paises{
    color: rgb(231, 76, 60);
    background-color: rgb(249, 235, 234);
}

h1#maravilhas_naturais{
    color: rgb(39, 174, 96);
    background-color: rgb(233, 247, 239);
}

.pontos_turisticos{
    color: rgb(39, 174, 96);
    background-color: rgb(233, 247, 239);
}

h1#cidade_vibrantes{
    color: rgb(243, 156, 18);
    background-color: rgb(255, 243, 230);
}

.cidades{
    color: rgb(243, 156, 18);
    background-color: rgb(255, 243, 230);
}